.keyboard {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
}

.keycapDiv {
    border: 2px solid gray;
    border-bottom: 10px solid gray;
    border-radius: 9px;
    background: blue;
    &:hover {
        background: green;
    }
}