@import "./Lib.scss";

.settings {
    padding-bottom: 2em;
}

.layoutInput {
    max-width: 500px;
    display: block;
    margin: 2em auto 2em auto;
}

.keymapsTextarea {
    margin-top: 2em;
    min-height: 19em;
}

.vscUri {
    margin-top: 2em;
}
