@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/core/dist/variables.scss";

body {
    background: $pt-dark-app-background-color;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: ($pt-grid-size * 2);
    padding-top: ($pt-navbar-height + $pt-grid-size * 2);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: $dark-gray1;
}

::-webkit-scrollbar-track {
    background: $dark-gray4;
}
::-webkit-resizer {
    background: $dark-gray3;
}
