<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <script>
        //extension-settings
    </script>
</head>

<body class="pt-dark">
    <div id="root"></div>
    <!-- <% if (false) { %>
        These scripts are for webpack live reload server only
    -->
    <script src="/assets/vendors.js"></script>
    <script src="/assets/app.js"></script>
    <!-- <% } %> -->
</body>

</html>